# Python
*.pyc
*.pyo
__pycache__/
temp.py
oldpsybot1.py

# IDEs
.idea/

# Virtual Environments
venv/
.venv/

# Old files
oldFiles/

# Logs
logs/

# Database files
*.db

# Results
results/

# Configuration files
*.env
